<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922147244906-q6trf3eicc9d1mdlsd29vhavhpvab0b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922147244906-q6trf3eicc9d1mdlsd29vhavhpvab0b4</string>
	<key>API_KEY</key>
	<string>AIzaSyCAe2EqX9GK03f5x58GbtI8OM2qgJJFTzw</string>
	<key>GCM_SENDER_ID</key>
	<string>922147244906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.GabrielMendonca.The-Movie</string>
	<key>PROJECT_ID</key>
	<string>the-movie-4aaec</string>
	<key>STORAGE_BUCKET</key>
	<string>the-movie-4aaec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922147244906:ios:6d7ad144b01d5899eb7313</string>
	<key>DATABASE_URL</key>
	<string>https://the-movie-4aaec.firebaseio.com</string>
</dict>
</plist>